[Unit]

Description=SSH Agent Relay

[Service]

Type=simple

User={{ ansible_user }}

ExecStartPre=+mkdir -p {{ ssh_agent_relay_socket_dir }}
ExecStartPre=+chown {{ ansible_user }}:{{ ansible_user }} {{ ssh_agent_relay_socket_dir }}
ExecStartPre=+chmod u=rwx,g=,o= {{ ssh_agent_relay_socket_dir }}
ExecStartPre=+rm -rf {{ ssh_agent_relay_socket }}

ExecStart=socat -d -d UNIX-LISTEN:{{ ssh_agent_relay_socket }},umask=077,fork EXEC:"{{ npiperelay_exe }} -ep -s //./pipe/openssh-ssh-agent",nofork

Restart=on-failure
RestartSec=5

[Install]

WantedBy=multiuser.target
