[Unit]

Description=SSH Agent Relay

ConditionPathExists={{ ssh_agent_relay_win_ssh_exe }}

After=ssh.service

[Service]

Type=simple

ExecStartPre=mkdir -p {{ ssh_agent_relay_socket_dir }}
ExecStartPre=chown {{ ansible_user }}:{{ ansible_user }} {{ ssh_agent_relay_socket_dir }}
ExecStartPre=chmod u=rwx,g=,o= {{ ssh_agent_relay_socket_dir }}
ExecStartPre=rm -rf {{ ssh_agent_relay_socket }}

ExecStart=/root/.local/share/ssh/ssh-agent-relay.sh

Restart=always
RestartSec=5

[Install]

WantedBy=multi-user.target
