[Unit]

Description=SSH Agent Relay

ConditionFileIsExecutable="{{ ssh_agent_relay_win_exe }}"

After=ssh.service

[Service]

Type=simple

ExecStartPre=mkdir -p {{ ssh_agent_relay_socket_dir }}
ExecStartPre=chown {{ ansible_user }}:{{ ansible_user }} {{ ssh_agent_relay_socket_dir }}
ExecStartPre=chmod u=rwx,g=,o= {{ ssh_agent_relay_socket_dir }}
ExecStartPre=rm -rf {{ ssh_agent_relay_socket }}

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart={{ ssh_agent_relay_data_home }}/ssh-agent-relay.sh

Restart=always
RestartSec=15

[Install]

WantedBy=multi-user.target
