[Unit]

Description=Windows GPG Bridge

[Service]

Type=simple

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart={{ windows_gpg_bridge_exe }} --extra {{ windows_gpg_bridge_extra_host }}:{{ windows_gpg_bridge_extra_port }}

Restart=always
RestartSec=60

[Install]

WantedBy=multi-user.target
