- name: Install with WinGet
  ansible.builtin.command:
    cmd: winget.exe install --exact --id=Microsoft.WindowsTerminal
  when: windows_winget_installed_packages is not contains('Microsoft.WindowsTerminal')

- name: Set up same dir in Bash
  ansible.builtin.blockinfile:
    path: "{{ bash_bashrc_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} same dir"
    block: |
      PROMPT_COMMAND=${PROMPT_COMMAND:+"$PROMPT_COMMAND; "}'printf "\e]9;9;%s\e\\" "$(wslpath -w "$PWD")"'

- name: Set up same dir in Zsh
  ansible.builtin.blockinfile:
    path: "{{ zsh_zshrc_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} same dir"
    block: |
      keep_current_path() {
        printf "\e]9;9;%s\e\\" "$(wslpath -w "$PWD")"
      }
      precmd_functions+=(keep_current_path)

- name: Place config file
  ansible.builtin.copy:
    src: settings.json
    dest: "{{ windows_home_dir_path }}/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json"
    backup: true
