[Unit]

Description=Windows GPG Agent Relay

After=windows-gpg-agent-trigger.service
After=windows-gpg-bridge.service
After=ssh.service

StartLimitIntervalSec=120
StartLimitBurst=5

OnFailure={{ onfailure_alert__systemd_unit_name | replace('@', '@%n') }}

[Service]

Type=simple

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart={{ windows_gpg_agent_relay__script_path }}

Restart=always
RestartSec=10

[Install]

WantedBy=multi-user.target
