[Unit]

Description=Monit

After=network-online.target

StartLimitIntervalSec=0

OnFailure={{ onfailure_alert__systemd_unit_name | replace('@', '@%n') }}

[Service]

Type=simple

KillMode=process

ExecStart=/usr/bin/monit -I

ExecStop=/usr/bin/monit quit

ExecReload=/usr/bin/monit reload

Restart=always

RestartSec=15

[Install]

WantedBy=multi-user.target
