[Unit]

Description=GnuPG Bridge

ConditionFileIsExecutable="{{ gnupg_bridge_win_exe }}"

[Service]

Type=simple

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart="{{ gnupg_bridge_win_exe }}"  --extra 127.0.0.1:54321

Restart=always
RestartSec=15

[Install]

WantedBy=multi-user.target
