- name: Install with WinGet
  ansible.builtin.command:
    cmd: winget.exe install --exact --id=JanDeDobbeleer.OhMyPosh
  when: windows_winget_installed_packages is not contains('JanDeDobbeleer.OhMyPosh')

- name: Create config dir
  ansible.builtin.file:
    state: directory
    path: "{{ windows_home_dir_path }}/Config/Oh My Posh"

- name: Place theme file
  ansible.builtin.copy:
    src: pure-custom.omp.json
    dest: "{{ windows_home_dir_path }}/Config/Oh My Posh/pure-custom.omp.json"

- name: Set up in PowerShell
  ansible.builtin.blockinfile:
    path: "{{ windows_powershell_profile_bottom_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }}"
    block: |
      $config = "$HOME\Config\Oh My Posh\pure-custom.omp.json"
      oh-my-posh init pwsh --config $config | Invoke-Expression
