[Unit]

Description=Windows GPG Agent Trigger

[Service]

Type=simple

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart={{ windows_gpg_agent_trigger_data_dir_path }}/windows-gpg-agent-trigger.sh

Restart=always
RestartSec=60

[Install]

WantedBy=multi-user.target
