[Unit]

Description=GPG Agent Relay

After=ssh.service

[Service]

Type=simple

ExecStartPre=rm -f /run/user/0/gnupg/S.gpg-agent

ExecStart=/root/.local/share/gpg/gpg-agent-relay.sh

Restart=always
RestartSec=5

[Install]

WantedBy=multi-user.target
