- name: Install
  ansible.builtin.apt:
    name: git-extras
    state: present
  become: true

- name: Set aliases fact
  ansible.builtin.set_fact:
    git_extras_aliases:
      - word: gitb
        subst: git browse

- name: Set up aliases in Bash
  ansible.builtin.blockinfile:
    path: "{{ bash_aliases }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }}"
    block: |
      {% for alias in git_extras_aliases %}
      alias {{ alias.word }}='{{ alias.subst }}'
      {% endfor %}

- name: Set up aliases in Zsh
  ansible.builtin.blockinfile:
    path: "{{ zsh_aliases }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }}"
    block: |
      {% for alias in git_extras_aliases %}
      alias {{ alias.word }}='{{ alias.subst }}'
      {% endfor %}
