[Unit]

Description=Unit Failure Handler %i

[Service]

Type=oneshot

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart={{ systemd_unit_failure_handler_script_path }} %i

TimeoutStartSec=5s
