- name: Install zsh
  ansible.builtin.apt:
    name: zsh
  become: true

- name: Set dir path facts
  ansible.builtin.set_fact:
    zsh_config_dir_path: "{{ xdg_config_home_dir_path }}/zsh"
    zsh_cache_dir_path: "{{ xdg_cache_home_dir_path }}/zsh"
    zsh_state_dir_path: "{{ xdg_state_home_dir_path }}/zsh"
    zsh_dynrc_dir_path: "{{ xdg_config_home_dir_path }}/zsh/dynrc"
    zsh_completions_dir_path: "{{ xdg_data_home_dir_path }}/zsh/completions"
    zsh_functions_dir_path: "{{ xdg_data_home_dir_path }}/zsh/functions"
    zsh_plugins_dir_path: "{{ xdg_data_home_dir_path }}/zsh/plugins"
    zsh_scripts_dir_path: "{{ xdg_data_home_dir_path }}/zsh/scripts"

- name: Set script path facts
  ansible.builtin.set_fact:
    zsh_zprofile_script_path: "{{ zsh_dynrc_dir_path }}/zprofile.zsh"
    zsh_zshrc_interactive_script_path: "{{ zsh_dynrc_dir_path }}/zshrc-interactive.zsh"
    zsh_zshrc_script_path: "{{ zsh_dynrc_dir_path }}/zshrc.zsh"
    zsh_zshrc_compinit_pre_script_path: "{{ zsh_dynrc_dir_path }}/zshrc-compinit-pre.zsh"
    zsh_zshrc_compinit_post_script_path: "{{ zsh_dynrc_dir_path }}/zshrc-compinit-post.zsh"
    zsh_aliases_script_path: "{{ zsh_dynrc_dir_path }}/aliases.zsh"
    zsh_zlogin_script_path: "{{ zsh_dynrc_dir_path }}/zlogin.zsh"
    zsh_zlogout_script_path: "{{ zsh_dynrc_dir_path }}/zlogout.zsh"
    zsh_p10k_script_path: "{{ zsh_dynrc_dir_path }}/p10k.zsh"

- name: Create dirs
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: u=rwx,g=,o=
  loop:
    - "{{ zsh_config_dir_path }}"
    - "{{ zsh_cache_dir_path }}"
    - "{{ zsh_state_dir_path }}"
    - "{{ zsh_dynrc_dir_path }}"
    - "{{ zsh_completions_dir_path }}"
    - "{{ zsh_functions_dir_path }}"
    - "{{ zsh_plugins_dir_path }}"
    - "{{ zsh_scripts_dir_path }}"

- name: Create scripts
  ansible.builtin.file:
    path: "{{ item }}"
    state: touch
    mode: u=rw,g=,o=
    modification_time: preserve
    access_time: preserve
  loop:
    - "{{ zsh_zprofile_script_path }}"
    - "{{ zsh_zshrc_interactive_script_path }}"
    - "{{ zsh_zshrc_script_path }}"
    - "{{ zsh_zshrc_compinit_pre_script_path }}"
    - "{{ zsh_zshrc_compinit_post_script_path }}"
    - "{{ zsh_aliases_script_path }}"
    - "{{ zsh_zlogin_script_path }}"
    - "{{ zsh_zlogout_script_path }}"
    - "{{ zsh_p10k_script_path }}"

- name: Clone plugins  # noqa: latest
  ansible.builtin.git:
    repo: "{{ item.src }}"
    dest: "{{ zsh_plugins_dir_path }}/{{ item.name }}"
    umask: "022"
    force: true
    single_branch: true
    update: true
  loop:
    - { name: ohmyzsh, src: https://github.com/ohmyzsh/ohmyzsh.git }
    - { name: powerlevel10k, src: https://github.com/romkatv/powerlevel10k.git }
    - { name: zsh-autosuggestions, src: https://github.com/zsh-users/zsh-autosuggestions.git }
    - { name: zsh-completions, src: https://github.com/zsh-users/zsh-completions.git }
    - { name: zsh-history-substring-search, src: https://github.com/zsh-users/zsh-history-substring-search.git }
    - { name: zsh-syntax-highlighting, src: https://github.com/zsh-users/zsh-syntax-highlighting.git }

#
# ------------------------------------------------------------------------------
#

- name: Set up environment in Bash
  ansible.builtin.blockinfile:
    path: "{{ shell_bash_login_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} environment"
    block: |
      export DOT_ZSH_DYNRC_DIR_PATH="{{ zsh_dynrc_dir_path }}"
      export DOT_ZSH_COMPLETIONS_DIR_PATH="{{ zsh_completions_dir_path }}"
      export DOT_ZSH_FUNCTIONS_DIR_PATH="{{ zsh_functions_dir_path }}"
      export DOT_ZSH_PLUGINS_DIR_PATH="{{ zsh_plugins_dir_path }}"
      export DOT_ZSH_SCRIPTS_DIR_PATH="{{ zsh_scripts_dir_path }}"
      export DOT_ZSH_ZPROFILE_SCRIPT_PATH="{{ zsh_zprofile_script_path }}"
      export DOT_ZSH_ZSHRC_INTERACTIVE_SCRIPT_PATH="{{ zsh_zshrc_interactive_script_path }}"
      export DOT_ZSH_ZSHRC_SCRIPT_PATH="{{ zsh_zshrc_script_path }}"
      export DOT_ZSH_ZSHRC_COMPINIT_PRE_SCRIPT_PATH="{{ zsh_zshrc_compinit_pre_script_path }}"
      export DOT_ZSH_ZSHRC_COMPINIT_POST_SCRIPT_PATH="{{ zsh_zshrc_compinit_post_script_path }}"
      export DOT_ZSH_ALIASES_SCRIPT_PATH="{{ zsh_aliases_script_path }}"
      export DOT_ZSH_ZLOGIN_SCRIPT_PATH="{{ zsh_zlogin_script_path }}"
      export DOT_ZSH_ZLOGOUT_SCRIPT_PATH="{{ zsh_zlogout_script_path }}"
      export DOT_ZSH_P10K_SCRIPT_PATH="{{ zsh_p10k_script_path }}"

- name: Set up environment in Fish
  ansible.builtin.blockinfile:
    path: "{{ shell_fish_login_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} environment"
    block: |
      set -x DOT_ZSH_DYNRC_DIR_PATH "{{ zsh_dynrc_dir_path }}"
      set -x DOT_ZSH_COMPLETIONS_DIR_PATH "{{ zsh_completions_dir_path }}"
      set -x DOT_ZSH_FUNCTIONS_DIR_PATH "{{ zsh_functions_dir_path }}"
      set -x DOT_ZSH_PLUGINS_DIR_PATH "{{ zsh_plugins_dir_path }}"
      set -x DOT_ZSH_SCRIPTS_DIR_PATH "{{ zsh_scripts_dir_path }}"
      set -x DOT_ZSH_ZPROFILE_SCRIPT_PATH "{{ zsh_zprofile_script_path }}"
      set -x DOT_ZSH_ZSHRC_INTERACTIVE_SCRIPT_PATH "{{ zsh_zshrc_interactive_script_path }}"
      set -x DOT_ZSH_ZSHRC_SCRIPT_PATH "{{ zsh_zshrc_script_path }}"
      set -x DOT_ZSH_ZSHRC_COMPINIT_PRE_SCRIPT_PATH "{{ zsh_zshrc_compinit_pre_script_path }}"
      set -x DOT_ZSH_ZSHRC_COMPINIT_POST_SCRIPT_PATH "{{ zsh_zshrc_compinit_post_script_path }}"
      set -x DOT_ZSH_ALIASES_SCRIPT_PATH "{{ zsh_aliases_script_path }}"
      set -x DOT_ZSH_ZLOGIN_SCRIPT_PATH "{{ zsh_zlogin_script_path }}"
      set -x DOT_ZSH_ZLOGOUT_SCRIPT_PATH "{{ zsh_zlogout_script_path }}"
      set -x DOT_ZSH_P10K_SCRIPT_PATH "{{ zsh_p10k_script_path }}"

- name: Set up environment in Zsh
  ansible.builtin.blockinfile:
    path: "{{ shell_zsh_login_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} environment"
    block: |
      export DOT_ZSH_DYNRC_DIR_PATH="{{ zsh_dynrc_dir_path }}"
      export DOT_ZSH_COMPLETIONS_DIR_PATH="{{ zsh_completions_dir_path }}"
      export DOT_ZSH_FUNCTIONS_DIR_PATH="{{ zsh_functions_dir_path }}"
      export DOT_ZSH_PLUGINS_DIR_PATH="{{ zsh_plugins_dir_path }}"
      export DOT_ZSH_SCRIPTS_DIR_PATH="{{ zsh_scripts_dir_path }}"
      export DOT_ZSH_ZPROFILE_SCRIPT_PATH="{{ zsh_zprofile_script_path }}"
      export DOT_ZSH_ZSHRC_INTERACTIVE_SCRIPT_PATH="{{ zsh_zshrc_interactive_script_path }}"
      export DOT_ZSH_ZSHRC_SCRIPT_PATH="{{ zsh_zshrc_script_path }}"
      export DOT_ZSH_ZSHRC_COMPINIT_PRE_SCRIPT_PATH="{{ zsh_zshrc_compinit_pre_script_path }}"
      export DOT_ZSH_ZSHRC_COMPINIT_POST_SCRIPT_PATH="{{ zsh_zshrc_compinit_post_script_path }}"
      export DOT_ZSH_ALIASES_SCRIPT_PATH="{{ zsh_aliases_script_path }}"
      export DOT_ZSH_ZLOGIN_SCRIPT_PATH="{{ zsh_zlogin_script_path }}"
      export DOT_ZSH_ZLOGOUT_SCRIPT_PATH="{{ zsh_zlogout_script_path }}"
      export DOT_ZSH_P10K_SCRIPT_PATH="{{ zsh_p10k_script_path }}"

#
# ------------------------------------------------------------------------------
#

- name: Delete files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - $HOME/.zshrc
    - $HOME/.zsh_history
    - $HOME/.zcompdump

- name: Place $HOME/.zshenv
  ansible.builtin.copy:
    dest: $HOME/.zshenv
    content: ZDOTDIR={{ zsh_config_dir_path }}
    mode: u=rw,g=,o=

- name: Render and place files
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ zsh_config_dir_path }}/"
    mode: u=rw,g=,o=
  loop:
    - .zprofile

- name: Place files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ zsh_config_dir_path }}/"
    mode: u=rw,g=,o=
  loop:
    - .zshenv
    - .zshrc
    - .zlogin
    - .zlogout
    - .p10k.zsh
    - p10k-pre.zsh
    - p10k-post.zsh

- name: Place scripts
  ansible.builtin.copy:
    src: "scripts/{{ item }}"
    dest: "{{ zsh_scripts_dir_path }}/"
    mode: u=rwx,g=,o=
  loop:
    - zcompile-stuff.zsh
    - zcompile-zcompdump.zsh

- name: Set default shell
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh
  become: true
