- name: Import role trallnag.aws_cli
  ansible.builtin.import_role:
    name: trallnag.aws_cli
  vars:
    aws_cli_version: latest

- name: Import role trallnag.aws_ssm_plugin
  ansible.builtin.import_role:
    name: trallnag.aws_ssm_plugin
  vars:
    aws_ssm_plugin_version: latest

- name: Import role trallnag.aws_sam_cli
  ansible.builtin.import_role:
    name: trallnag.aws_sam_cli
  vars:
    aws_sam_cli_version: latest

- name: Set up completion in Bash
  ansible.builtin.blockinfile:
    path: "{{ bash_bashrc_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} completion"
    block: |
      complete -C /usr/local/bin/aws_completer aws

- name: Set up completion in Zsh
  ansible.builtin.blockinfile:
    path: "{{ zsh_zshrc_compinit_post_script_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: {{ role_name }} completion"
    block: |
      complete -C /usr/local/bin/aws_completer aws
