- name: Set facts
  ansible.builtin.set_fact:
    conda_config_home: "{{ xdg_config_home }}/conda"
    conda_data_home: "{{ xdg_data_home }}/conda"
    conda_exe: $HOME/miniconda3/bin/conda

- name: Set facts
  ansible.builtin.set_fact:
    conda_config: "{{ conda_config_home }}/condarc"

- name: Create directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: u=rwx,g=,o=
  loop:
    - "{{ conda_config_home }}"
    - "{{ conda_data_home }}"

- name: Place config
  ansible.builtin.copy:
    src: condarc
    dest: "{{ conda_config }}"
    mode: u=rw,g=,o=

#
# ------------------------------------------------------------------------------
#

- name: Get info about executable
  ansible.builtin.stat:
    path: "{{ conda_exe }}"
  register: conda_exe_stat

- name: Create temporary directory
  when: not conda_exe_stat.stat.exists
  ansible.builtin.tempfile:
    state: directory
  register: temp_dir

- name: Install latest
  when: not conda_exe_stat.stat.exists
  ansible.builtin.shell:
    cmd: |
      set -euo pipefail
      installer="{{ temp_dir.path }}/miniconda-installer.sh"
      wget --quiet https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O "$installer"
      chmod +x "$installer"
      "$installer" -b -p ~/miniconda3
    executable: /usr/bin/bash
  changed_when: true

#
# ------------------------------------------------------------------------------
#

- name: Init in bash
  ansible.builtin.blockinfile:
    path: "{{ bash_bashrc }}"
    marker: "# {mark} :: ANSIBLE MANAGED BLOCK :: {{ role_name }} :: 018f44cd-ac41-78ab-9baa-8868ea115340"
    block: |
      eval "$({{ conda_exe }} shell.bash hook)"

- name: Clone completion script for bash # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/tartansandal/conda-bash-completion.git
    dest: "{{ conda_data_home }}/conda-bash-completion"
    version: "HEAD"
    depth: 1
    force: true

- name: Enable completion in bash
  ansible.builtin.file:
    src: "{{ conda_data_home }}/conda-bash-completion/conda"
    dest: "{{ bash_completions_dir }}/conda.bash"
    state: link

#
# ------------------------------------------------------------------------------
#

- name: Init in zsh
  ansible.builtin.blockinfile:
    path: "{{ zsh_zshrc }}"
    marker: "# {mark} :: ANSIBLE MANAGED BLOCK :: {{ role_name }} :: 018f44cd-ac41-7837-a26a-cb2444155e97"
    block: |
      eval "$({{ conda_exe }} shell.zsh hook)"

- name: Clone completion script for zsh # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/esc/conda-zsh-completion.git
    dest: "{{ conda_data_home }}/conda-zsh-completion"
    version: "HEAD"
    depth: 1
    force: true

- name: Enable completion in zsh
  ansible.builtin.file:
    src: "{{ conda_data_home }}/conda-zsh-completion/_conda"
    dest: "{{ zsh_functions_dir }}/_conda"
    state: link

- name: Configure completion in zsh
  ansible.builtin.blockinfile:
    path: "{{ zsh_zshrc_compinit_pre }}"
    marker: "# {mark} :: ANSIBLE MANAGED BLOCK :: {{ role_name }} :: 018f44cd-ac41-77ae-b984-a4fa0610917d"
    block: |
      zstyle ":conda_zsh_completion:*" use-groups true
      zstyle ":conda_zsh_completion:*" show-unnamed true
      zstyle ":conda_zsh_completion:*" sort-envs-by-time true
      zstyle ":conda_zsh_completion:*" show-global-envs-first true
