[Unit]

Description=GnuPG Agent Trigger

ConditionFileIsExecutable="{{ gnupg_agent_trigger_win_exe }}"

[Service]

Type=simple

User={{ ansible_user }}
Group={{ ansible_user }}

ExecStart={{ gnupg_agent_trigger_data_home }}/gnupg-agent-trigger.sh

Restart=always
RestartSec=15

[Install]

WantedBy=multi-user.target
